body {
    margin-top: 50px;
    background-color: #D9D9D9;
    font: 14px 'Hack', 'monospace';
}

.logo {
    float: left;
    margin-left: 25px;
    margin-right: 30px;
}

h1 {
    font-size: 80px;
}

ul.jobs {
    clear: left;
    list-style-type: none;
    margin-top: 50px;
}

li.job:first-child {
    border-top: 1px solid #A6A2A2;
}

li.job {
    display: block;
    cursor: pointer;
    padding: 20px;
    background-color: #E5E6E4;
    border-bottom: 1px solid #A6A2A2;
    color: #BBBBBB;
    font-size: 16px;
}

li.job:hover {
    background-color: #E1E1E1;
}

li.job span.time {
}

li.job span.repository_url {
    margin-left: 40px;
    color: #666666;
}

li.job span.revision {
    margin-left: 40px;
}

li.job div.result_status {
    float: right;
    font-weight: bold;
}

li.job span.success {
    color: #228822;
}

li.job span.failure {
    color: #A30E0E;
}

li.job div.result {
    display: none;
    margin-top: 20px;
    background-color: #333333;
    padding: 20px;
    color: #777777;
    font: 14px 'Hack', 'monospace';
}

footer {
    text-align: right;
    font-size: 13px;
}
